<!--article.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

    {{range .payload }}
        <!--Display the title of the article -->
        <!-- When execution begins, $ is set to the data argument passed to Execute, that is, to the starting value of dot. -->
        <a href="/storage/{{$.bucket_id}}/object/{{.Name}}">
            <!--Display the title of the article -->
            <p>{{.Name}}</p>
        </a>       
    {{end}}
<!-- <p>{{.name}}</p> -->

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}